<% @order_items.each do |order_item| %>
<h3><%= order_item.item.name%></h3>
<h3><%= order_item.item.price %></h3>
<%= form_with model: order_item do |f|%>
<%= f.hidden_field :item_id, value: order_item.item.id %>
<%= f.number_field :quantity, value: order_item.quantity.to_i%>
<%= f.submit "Update Cart" %>
<%= link_to "Remove Items", order_item, method: :delete, remote: true %>
<% end%>
<h2>Subtotal: <%= order_item.total %></h2>
<% end %>

<h3>Your current order has a total of: <%= current_order.subtotal %></h3>	